{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<h3 class="mb-4">Student Event Registration</h3>

{% if events %}
<form method="POST" action="/register">

    <div class="mb-3">
        <label class="form-label">Student Name</label>
        <input type="text" name="name" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Register Number</label>
        <input type="text" name="reg_no" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" name="email" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Department</label>
        <input type="text" name="department" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Select Event</label>
        <select name="event_id" class="form-select" required>
            {% for event in events %}
                <option value="{{ event[0] }}">
                    {{ event[1] }} ({{ event[2] }})
                </option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-success">
        Register
    </button>
</form>
{% else %}
<div class="alert alert-warning">
    No events available for registration.
</div>
{% endif %}
{% endblock %}
